[submodule "fourth_robot_tools/gim30"]
	path = fourth_robot_tools/gim30
	url = https://github.com/RyodoTanaka/gim30.git
[submodule "fourth_robot_tools/joy_twist"]
	path = fourth_robot_tools/joy_twist
	url = https://github.com/RyodoTanaka/joy_twist.git
[submodule "fourth_robot_tools/rt_usb_9axisimu_driver"]
	path = fourth_robot_tools/rt_usb_9axisimu_driver
	url = https://github.com/rt-net/rt_usb_9axisimu_driver.git
[submodule "fourth_robot_tools/cirkit_waypoint_manager"]
	path = fourth_robot_tools/cirkit_waypoint_manager
	url = https://github.com/CIR-KIT/cirkit_waypoint_manager.git
[submodule "fourth_robot_tools/cirkit_waypoint_manager_msgs"]
	path = fourth_robot_tools/cirkit_waypoint_manager_msgs
	url = https://github.com/CIR-KIT/cirkit_waypoint_manager_msgs.git
